<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="git.wyt.mybatis.nativeapi.sample.dao.EmpMapper">

    <select id="selectEmp" resultType="Emp">
        SELECT *
        FROM Emp
        WHERE empno = #{empno}
    </select>

    <select id="findByColumn" resultType="Emp">
        select * from Emp where ${column} = #{value}
    </select>

    <insert id="insertEmp" useGeneratedKeys="true" keyProperty="empno"
            parameterType="Emp">
        INSERT INTO Emp (ename,job,mgr,hiredate,sal,comm,deptno) VALUES (#{ename},#{job},#{mgr},#{hiredate},#{sal},#{comm},#{deptno})
    </insert>

    <update id="updateEmp">
        UPDATE Emp SET
         ename = #{ename},
         job = #{job},
         mgr = #{mgr},
         hiredate = #{hiredate},
         sal = #{sal},
         comm = #{comm},
         deptno = #{deptno}
        WHERE empno = #{empno}
    </update>

    <delete id="deleteEmp">
        delete from Emp where empno = #{empno}
    </delete>

</mapper>